* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: green  url(../images/10081437.jpg) center top;
    background-size: cover;
    color: white;
}


#title {
    font-size: 23px;
    margin-top: 30px;
    display: flex; 
    /* Gebruiken van een flexbox of CSS grid */
    text-transform: uppercase;
    justify-content: center;
}


/* Basis CSS Animatie */

.linker_Kaart {
    position: fixed;
    left: -100px; 
    top: -100px;
    transform: rotate(-45deg);
    width: 300px;
    opacity: 0; 
    animation: LeftAnimation 1s forwards;
}

.rechter_Kaart {
    position: fixed;
    right: -100px; 
    top: -100px;
    transform: rotate(45deg);
    width: 300px;
    opacity: 0; 
    animation: RightAnimation 1s forwards;
}



@keyframes LeftAnimation { 
    from {
        left: -100px; 
        top: -100px;
        opacity: 0; 
        transform: rotate(-45deg);
    }
    to {
        left: 10%; 
        top: 10%;
        opacity: 1; 
        transform: rotate(0deg);
    }
}

@keyframes RightAnimation {
    from {
        right: -100px; 
        top: -100px;
        opacity: 0; 
        transform: rotate(45deg);
    }
    to {
        right: 10%; 
        top: 10%;
        opacity: 1; 
        transform: rotate(0deg);
    }
}

#formDiv {
    text-align: center;
    width: 300px;
    margin: 50px auto;
    padding: 0 20px 20px 20px;
    
}

label {
    display: block;
    font-weight: 700;
    margin: 10px;
}

#naam,
#email,
#submit {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 5px solid #437335;
    border-radius: 10px;
}

#naam:focus,
#email:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 50px rgba(147, 197, 250, 0.603);
}

#submit {
    background-color: #437335;
    color: white;
    margin-top: 20px;
    font-weight: 900;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: border-color 0.3s ease;
}

#submit:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    box-shadow: 0 0 50px rgba(147, 197, 250, 0.603);
}

@media only screen and (max-width: 1150px) {
    .linker_Kaart,
    .rechter_Kaart {
        width: 200px;
    }
}


@media only screen and (max-width: 768px) {
    .linker_Kaart,
    .rechter_Kaart {
        width: 150px;

    }

    .rechter_Kaart {
        position: absolute;
        right: -100px;
        bottom: -100px;
        animation: rightAnimation 1s forwards;
        top: auto;
    }

    .linker_Kaart {
        position: absolute;
        left: -100px;
        bottom: -100px;
        animation: leftAnimation 1s forwards;
        top: auto;
    }

    @keyframes leftAnimation {
        from {
            left: -100px;
            bottom: -100px;
            opacity: 0;
            transform: rotate(-45deg);
        }
        to {
            left: 5%;
            bottom: 5%;
            opacity: 1;
            transform: rotate(0deg);
        }
    }

    @keyframes rightAnimation {
        from {
            right: -100px;
            bottom: -100px;
            opacity: 0;
            transform: rotate(45deg);
        }
        to {
            right: 5%;
            bottom: 5%;
            opacity: 1;
            transform: rotate(0deg);
        }
    }
}

@media only screen and (max-width: 480px) {

    #naam,
    #email,
    #submit {
        width: 100%;
    }

    #formDiv {
        padding: 0 10px;
    }

    .linker_Kaart,
    .rechter_Kaart {
        width: 100px;

    }

    .rechter_Kaart {
        position: absolute;
        right: -100px;
        bottom: -100px;
        animation: rightAnimation 1s forwards;
        top: auto;
    }

    .linker_Kaart {
        position: absolute;
        left: -100px;
        bottom: -100px;
        animation: leftAnimation 1s forwards;
        top: auto;
    }

    @keyframes leftAnimation {
        from {
            left: -100px;
            bottom: -100px;
            opacity: 0;
            transform: rotate(-45deg);
        }
        to {
            left: 5%;
            bottom: 5%;
            opacity: 1;
            transform: rotate(0deg);
        }
    }

    @keyframes rightAnimation {
        from {
            right: -100px;
            bottom: -100px;
            opacity: 0;
            transform: rotate(45deg);
        }
        to {
            right: 5%;
            bottom: 5%;
            opacity: 1;
            transform: rotate(0deg);
        }
    }
}

